*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}

a {
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;

}

a {
    font-family: Arial, Helvetica, sans-serif;
}

.header-second img {
    position: relative;
    top: 0.45rem;
    width: 1.5rem;
}

.header-second {
    margin-right: 1rem;

}

.header-first {
    margin: 1rem  1rem 1rem;
}

.header-first a, .header-second a, .header-second img {
    margin-right: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
}

#sign-in {
    background-color: rgba(64, 122, 231, 0.685);
    padding: 0.5rem 0.8rem;
    color: #fff;
    text-decoration: none;
}

.main {
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.google img {
    width: 21rem;
}

.main-btn {
    display: flex;
    gap: 2rem;
}
#img-first {
    width: 2.1rem;
    height: 2.5rem;
}

#img-second {
    width: 1.2rem;
    height: 1.7rem;
    margin-top: 0.4rem;
}

.icons {
    border: 0.125rem solid rgba(8, 8, 8, 0.205);
    padding:0.1rem 0.8rem;
    border-radius: 3rem;
    display: flex;
    margin: 1rem;
}



.icons input {
    outline: none;
    border: #fff;
    font-size: 0.8rem;
}
.main-btn a {
    background-color: rgba(195, 198, 204, 0.192);
    padding: 0.5rem 0.8rem;
    color: rgba(0, 0, 0, 0.644);
    text-decoration: none;
    position: relative;
}

.english-outer p {
    cursor: auto;
    text-decoration: none;
}

#english {
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.last-first {
    width: 100%;
    background-color: rgba(116, 111, 111, 0.089);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: rgba(100, 96, 96, 0.062);
    height: 3rem;

}

.last-second {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(131, 127, 127, 0.151);
    background-repeat: no-repeat;
    background-size: cover;
    height: 3rem;
    word-wrap: wrap;

}

.last-second-first a, .last-first a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.last-second-second a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
}

.last-first, .last-second {
    display: flex;
    align-items: center;
}

.last-second-first {
    
    display: flex;
    gap: 3rem;
}
.last-second-second {
    display: flex;
    gap: 3rem;
}

.last-second-second a, .last-first a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
    margin-right: 1.5rem;

}

footer {
    margin-bottom: 0;
}

@media screen and (max-width:1000px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }
}
@media screen and (max-width:500px) {
    html {
        font-size: 9px;
    }
}
@media screen and (max-width:375px) {
    html {
        font-size: 8px;
    }
}
